# Idea / PyCharm
.idea/
venv*

# files from the mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Project dependant
build/
config/
docker/
model/
helm/
.gitignore
.coveragerc
*.log*
*.egg-info
*.so
